<h1><a href="https://goinstant.com">GoInstant</a> Buildpack Example</h1>
<p>Your connect url: <%= GOINSTANT_CONNECT_URL %></p>
<script type="text/javascript">
  var connect = goinstant.connect('<%= GOINSTANT_CONNECT_URL %>');
  connect.then(function(res) {
    var room = res.rooms[0];
    console.log('Connected to room: ', room);
  });
</script>
